<link href="https://cdn.jsdelivr.net/npm/tailwindcss2.2.19/dist/tailwind.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" rel="stylesheet">
<h1 align="center" style="color: lightblue; background-color: rgb(167, 84, 214)">astra&co</h1>
<p align="center" style="color: lightblue;">astra&co è una rinomata azienda di viaggi interspaziali.se decidi di affidarti ad essa riceverai il miglior trattamento possibile viaggiando nello spazio piu profondo.
    buon viaggio!
</p>
<div class="center">
<img src="https://cdn.pixabay.com/photo/2022/09/09/01/23/cartoon-7442135_960_720.png" alt="" width="1900" height="850">
</div>