<link href="https://cdn.jsdelivr.net/npm/tailwindcss2.2.19/dist/tailwind.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" rel="stylesheet">
<h1 align="center" style="color: rgb(255, 0, 0); background-color: rgb(0, 0, 0)">MUSEO DEI VIDEOGIOCHI</h1>
<p align="center" style="color: red;">benvenuto nel miglior museo dei videogiochi al mondo!
    qui troverai i migliori videogiochi della storia.
              buon proseguimento.
</p>
<div class="center">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRqpsgUwEEP4scNKhylHu0PbYbOektso9yR8Q&s" alt="" width="1300" height="750">
</div>


